<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqrcb.dboptimize.mybank.mapper.TransactionRecordMapper">
    <sql id="commonSelect">
        select id,
               account_id,
               transaction_type,
               amount,
               currency,
               transaction_date,
               created_at,
               updated_at
        from transaction_record
    </sql>

    <insert id="insert">

    </insert>

    <select id="count">
        SELECT COUNT(id)
        FROM transaction_record
    </select>

    <select id="page">
        SELECT id,
               account_id,
               transaction_type,
               amount,
               currency,
               transaction_date,
               created_at,
               updated_at
        FROM transaction_record
        <where>
            <if test="accountId != null"> account_id = #{accountId}</if>
        </where>
        LIMIT #{start}, #{pageSize}
    </select>

    <delete id="deleteById">
        DELETE
        FROM transaction_record
        WHERE id = #{id}
    </delete>

    <delete id="delete">
        DELETE FROM transaction_record
        WHERE id IN
        <foreach collection="itemIds" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <select id="list" resultType="com.cqrcb.dboptimize.mybank.model.entity.TransactionRecord">
        SELECT id, account_id, transaction_type, amount, currency, transaction_date, created_at, updated_at
        FROM transaction_record
        <where>
            <if test="accountId != null">account_id = #{accountId}</if>
            <if test="begin != null and end != null">and now() between #{begin} and #{end}</if>
        </where>
    </select>

    <select id="selectById" resultType="com.cqrcb.dboptimize.mybank.model.entity.TransactionRecord">
        SELECT id,
               account_id,
               transaction_type,
               amount,
               currency,
               transaction_date,
               created_at,
               updated_at
        FROM transaction_record
        WHERE id = #{id}
    </select>
</mapper>